<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-20.20t] %-35.35logger{35} : %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.mybatis.spring.SqlSessionUtils" level="DEBUG"/>
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="DEBUG"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>